#worldweatherDeck {
  padding: 5px;
  text-align: center;
  background-color: white;
  border-style: solid;
  border-color: #666666;
  border-width: 1px;
}

#worldweatherDeck > * > * {
  font-family: verdana, arial, sans-serif;
}

#worldweatherInfo > * {
  margin: 0px;
}

.displayWorldWeather-Temperature-small {
  font-size: 1em;
  font-weight: bold;
}

.displayWorldWeather-Temperature-medium {
  font-size: 1.5em;
  font-weight: bold;
}

.displayWorldWeather-Temperature-large {
  font-size: 2em;
  font-weight: bold;
}

.displayWorldWeather-Location-small {
  font-size: .5em;
}

.displayWorldWeather-Location-medium {
  font-size: .75em;
}

.displayWorldWeather-Location-large {
  font-size: 1em;
}

#worldweatherError > *, #worldweatherLoading > * {
  margin-top: 5px;
}

.tooltip-label {
  text-align: right;
  font-weight: bold;
}